/* layout */
.l-wrapper {
  overflow: hidden;
}

/* header */
.l-header {
  z-index: var(--front-z-index);
  position: relative;
  display: flex;
  align-items: center;
  inline-size: 100%;
  padding-block: calc(97 / var(--layout-width-scroll) * 100%) calc(38 / var(--layout-width-scroll) * 100%);
  background-color: var(--background-base);
}

.l-header__logo {
  display: block;
  inline-size: calc(302 / var(--layout-width-scroll) * 100%);
  margin-inline-start: calc(53 / var(--layout-width-scroll) * 100%);
}

/* sticky cta */
.l-sticky-cta {
  --aspect-sticky-button: 635/124;

  z-index: var(--menu-z-index);
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 50%;
  inline-size: calc(635 / var(--layout-width-scroll) * 100%);
  aspect-ratio: var(--aspect-sticky-button);
  margin-block-end: calc(50 / var(--layout-width-scroll) * 100%);
  background-color: var(--color-orange);
  border-radius: var(--rounded-100);
  translate: -50% 15px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    translate 0.3s ease;
}

.l-sticky-cta--show {
  opacity: 1;
  visibility: visible;
  translate: -50% 0;
}

.l-sticky-cta__link {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
}

.l-sticky-cta__link-text {
  font-weight: var(--font-bold);
  font-size: calc(38 / var(--vw-ratio));
  letter-spacing: var(--tracking-normal);
  color: var(--color-white);
}

.l-sticky-cta__link-arrow {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: calc((52 / 635) * 100%);
  inline-size: calc((19 / 635) * 100%);
  translate: 0 -50%;
}

.l-sticky-cta__link-timer {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc((46/635)*100%);
  inline-size: calc((128/635)*100%);
  margin-block-start: calc((-76/635)*100%);
}

.l-scroll-content {
  overflow: hidden;
  background-color: var(--background-base);
}

.l-main {
  z-index: var(--default-z-index);
  position: relative;
}

/* hero */
.l-hero {
  z-index: var(--default-z-index);
  position: relative;
}

.l-hero__bg {
  z-index: var(--default-z-index);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
}

.l-hero__title {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(510 / var(--layout-width-scroll) * 100%);
  margin-inline: auto;
  padding-block-start: calc(114 / var(--layout-width-scroll) * 100%);
}

.l-hero__balloon {
  z-index: var(--menu-z-index);
  position: absolute;
  inset-block-start: 0;
  inline-size: calc(34 / var(--layout-width-scroll) * 100%);
  opacity: 0;
  translate: 0 10px;
  transition:
    opacity 0.6s ease-out,
    translate 0.6s ease;
}

.l-hero__balloon.js-load--loaded {
  opacity: 1;
  translate: 0;
}

.l-hero__balloon--purple {
  inset-inline-start: calc(64 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(510 / var(--layout-width-scroll) * 100%);
}

.l-hero__balloon--orange-left {
  inset-inline-start: calc(160 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(446 / var(--layout-width-scroll) * 100%);
}

.l-hero__balloon--orange-left.js-load--loaded {
  transition-delay: 0.3s;
}

.l-hero__balloon--blue {
  inset-inline-start: calc(323 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(427 / var(--layout-width-scroll) * 100%);
}

.l-hero__balloon--blue.js-load--loaded {
  transition-delay: 0.7s;
}

.l-hero__balloon--light-green {
  inset-inline-start: calc(394 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(485 / var(--layout-width-scroll) * 100%);
}

.l-hero__balloon--light-green.js-load--loaded {
  transition-delay: 0.2s;
}

.l-hero__balloon--pink {
  inset-inline-start: calc(514 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(453 / var(--layout-width-scroll) * 100%);
}

.l-hero__balloon--pink.js-load--loaded {
  transition-delay: 0.5s;
}

.l-hero__balloon--orange-right {
  inset-inline-start: calc(612 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(507 / var(--layout-width-scroll) * 100%);
}

.l-hero__balloon--green {
  inset-inline-start: calc(635 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(436 / var(--layout-width-scroll) * 100%);
}

.l-hero__balloon--green.js-load--loaded {
  transition-delay: 0.6s;
}

.l-hero__cloud {
  z-index: var(--default-z-index);
  position: absolute;
  inset-block-start: 0;
}

.l-hero__cloud--left {
  inset-inline-start: calc(51 / var(--layout-width-scroll) * 100%);
  inline-size: calc(174 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(12 / var(--layout-width-scroll) * 100%);
}

.l-hero__cloud--right {
  inset-inline-start: calc(565 / var(--layout-width-scroll) * 100%);
  inline-size: calc(174 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(270 / var(--layout-width-scroll) * 100%);
}

.l-hero__image {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(740 / var(--layout-width-scroll) * 100%);
  margin: calc(77 / var(--layout-width-scroll) * 100%) auto 0;
}

/* slider */
.l-slider {
  z-index: var(--front-z-index);
  position: relative;
  padding-block-start: calc(18 / var(--layout-width-scroll) * 100%);
  background-color: var(--background-base);
}

.l-slider__heading {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(381 / var(--layout-width-scroll) * 100%);
  margin-inline: auto;
}

.l-slider__wrapper {
  margin-block-start: calc(20 / var(--layout-width-scroll) * 100%);
}

.splide__list {
  gap: calc(8 / var(--vw-ratio));
}

.splide__slide {
  inline-size: calc(150 / var(--vw-ratio));
}

.l-slider--bottom .splide__track {
  overflow: visible;
  left: calc(46 / var(--vw-ratio));
}

.l-section__heading {
  inline-size: calc(500 / var(--layout-width-scroll) * 100%);
  margin-inline: auto;
}

.l-section__heading--long {
  inline-size: calc(598 / var(--layout-width-scroll) * 100%);
}

.l-section__heading::before,
.l-section__heading::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 5px;
  border-radius: var(--rounded-xs);
}

.l-section__heading--blue::before,
.l-section__heading--blue::after {
  background-color: var(--borderline-blue);
}

.l-section__heading--green::before,
.l-section__heading--green::after {
  background-color: var(--color-green);
}

.l-section__heading-text {
  display: block;
}

.l-section__heading-text--point {
  inline-size: calc((379 / 500) * 100%);
  margin-inline: auto;
  padding-block: calc((21 / 500) * 100%);
}

.l-section__heading-text--nyuin {
  inline-size: calc((368 / 500) * 100%);
  margin-inline: auto;
  padding-block: calc((37 / 500) * 100%);
}

.l-section__heading-text--service {
  inline-size: calc((448 / 500) * 100%);
  margin-inline-start: calc((-26 / 500) * 100%);
  padding-block: calc((8 / 500) * 100%) calc((44 / 500) * 100%);
}

.l-section__heading-text--fa {
  inline-size: calc((388 / 598) * 100%);
  margin-inline: auto;
  padding-block: calc((23 / 598) * 100%);
}

.l-section__heading-text--qa {
  inline-size: calc((299 / 598) * 100%);
  margin-inline: auto;
  padding-block: calc((37 / 598) * 100%);
}

/* point */
.l-point {
  margin-block-start: calc(117 / var(--layout-width-scroll) * 100%);
}

.l-point__list {
  inline-size: calc(650 / var(--layout-width-scroll) * 100%);
  margin: calc(82 / var(--layout-width-scroll) * 100%) auto 0;
}

.l-point__list-item {
  padding-block: calc((30 / 650) * 100%);
  background-color: var(--background-base);
  border: 4px solid var(--nyuin-frame);
  border-radius: var(--rounded-28);
}

.l-point__list-item + .l-point__list-item {
  margin-block-start: calc((34 / 650) * 100%);
}

.l-point__list-heading {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: calc((4 / 650) * 100%);
  line-height: var(--leading-initial);
}

.l-point__list-heading-text {
  font-family: var(--font-sans);
  font-weight: var(--font-black);
  font-size: calc(32 / var(--vw-ratio));
  color: var(--color-blue);
}

.l-point__list-heading-icon--money {
  inline-size: calc((31 / 633) * 100%);
}

.l-point__list-heading-icon--heart {
  inline-size: calc((34 / 633) * 100%);
}

.l-point__list-heading-icon--hospital {
  inline-size: calc((25 / 633) * 100%);
}

.l-point__list-text {
  margin: calc((20 / 633) * 100%) auto 0;
}

.l-point__list-text--point1 {
  inline-size: calc((502 / 633) * 100%);
}

.l-point__list-text--point2 {
  inline-size: calc((428 / 633) * 100%);
}

.l-point__list-text--point3 {
  inline-size: calc((402 / 633) * 100%);
}

.l-point__attention {
  inline-size: calc(650 / var(--layout-width-scroll) * 100%);
  margin: calc(40 / var(--layout-width-scroll) * 100%) auto 0;
  font-size: calc(15 * var(--rem-ratio));
  line-height: var(--leading-14);
}

/* nyuin */
.l-nyuin {
  margin-block-start: calc(81 / var(--layout-width-scroll) * 100%);
}

.l-nyuin__text {
  margin-block-start: calc(92 / var(--layout-width-scroll) * 100%);
  font-size: calc(18 * var(--rem-ratio));
  text-align: center;
  line-height: var(--leading-14);
}

.l-nyuin__figure {
  position: relative;
  margin-block-start: calc(20 / var(--layout-width-scroll) * 100%);
}

.l-nyuin__figure-pop {
  position: relative;
}

.l-nyuin__figure-pop-text {
  inline-size: calc(352 / var(--layout-width-scroll) * 100%);
  margin-inline-start: calc(183 / var(--layout-width-scroll) * 100%);
  opacity: 0;
  transform: scale(0.7);
  transform-origin: right center;
}

.l-nyuin__figure.is-inview .l-nyuin__figure-pop-text {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.7s ease 0.3s,
    transform 0.7s ease 0.3s;
}

.l-nyuin__figure-strong {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(128 / var(--layout-width-scroll) * 100%);
  display: block;
  inline-size: calc(55 / var(--layout-width-scroll) * 100%);
  opacity: 0;
}

.l-nyuin__figure.is-inview .l-nyuin__figure-strong {
  animation: blinking 2.5s steps(1) 0.7s both;
}

.l-nyuin__illust {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(489 / var(--layout-width-scroll) * 100%);
  inline-size: calc(133 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(6 / var(--layout-width-scroll) * 100%);
}

/* service */
.l-service {
  margin-block-start: calc(58 / var(--layout-width-scroll) * 100%);
}

.l-service__list {
  inline-size: calc(640 / var(--layout-width-scroll) * 100%);
  margin: calc(82 / var(--layout-width-scroll) * 100%) auto 0;
}

.l-service__list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: calc((18 / 640) * 100%);
  border: 5px solid var(--color-green);
  border-radius: var(--rounded-m);
  box-shadow: var(--service-shadow);
}

.l-service__list-index {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: calc((76 / 640) * 100%);
  translate: 0 -50%;
}

.l-service__list-index--first {
  inline-size: calc((33 / 640) * 100%);
}

.l-service__list-index--second {
  inline-size: calc((42 / 640) * 100%);
}

.l-service__list-index--third {
  inline-size: calc((43 / 640) * 100%);
}

.l-service__list-text {
  font-weight: var(--font-bold);
  font-size: calc(30 / var(--vw-ratio));
  text-align: center;
}

.l-service__list-icon {
  position: absolute;
  inset-block-start: 50%;
  translate: 0 -50%;
}

.l-service__list-icon--lupe {
  inset-inline-end: calc((44 / 640) * 100%);
  inline-size: calc((66 / 640) * 100%);
}

.l-service__list-icon--book {
  inset-inline-end: calc((39 / 640) * 100%);
  inline-size: calc((75 / 640) * 100%);
}

.l-service__list-icon--sns {
  inset-inline-end: calc((11 / 640) * 100%);
  inline-size: calc((124 / 640) * 100%);
}

.l-service__list-arrow {
  inline-size: calc((46 / 640) * 100%);
  margin: calc((32 / 640) * 100%) auto 0;
}

.l-service__attention {
  inline-size: calc(640 / var(--layout-width-scroll) * 100%);
  margin: calc(63 / var(--layout-width-scroll) * 100%) auto 0;
  font-size: calc(12 * var(--rem-ratio));
  line-height: var(--leading-14);
}

/* form */
.l-form {
  margin-block-start: calc(16 / var(--layout-width-scroll) * 100%);
}

/* fa */
.l-fa {
  margin-block-start: calc(65 / var(--layout-width-scroll) * 100%);
}

.l-fa__theme {
  inline-size: calc(607 / var(--layout-width-scroll) * 100%);
  margin: calc(91 / var(--layout-width-scroll) * 100%) auto 0;
}

.l-fa__theme-text-area {
  position: relative;
}

.l-fa__theme-text {
  margin-block-start: calc((-55 / 607) * 100%);
  font-size: calc(30 / var(--vw-ratio));
  text-align: center;
  line-height: var(--leading-14);
}

.l-fa__theme-date {
  margin-inline-start: calc((366 / 607) * 100%);
  font-size: calc(19 / var(--vw-ratio));
}

.l-fa__theme-deco-area {
  position: absolute;
  inset-block-start: 0;
  margin-block-start: calc((30 / 607) * 100%);
}

.l-fa__theme-deco-area--left {
  inset-inline-start: calc((43 / 607) * 100%);
}

.l-fa__theme-deco-area--right {
  inset-inline-start: calc((502 / 607) * 100%);
}

.l-fa__theme-deco-small {
  inline-size: calc(24 / var(--vw-ratio));
}

.l-fa__theme-deco-small--left {
  margin-inline-start: calc(34 / var(--vw-ratio));
}

.l-fa__theme-deco-small--left.js-flash {
  animation-delay: 1s;
}

.l-fa__theme-deco-big {
  inline-size: calc(48 / var(--vw-ratio));
  margin-block-start: calc(-11 / var(--vw-ratio));
}

.l-fa__theme-deco-big--right {
  margin-block-start: calc(-13 / var(--vw-ratio));
  margin-inline-start: calc(9 / var(--vw-ratio));
}

.l-fa__theme-deco-big--right.js-flash {
  animation-delay: 1s;
}

.l-fa__info {
  display: flex;
  justify-content: space-between;
  inline-size: calc(650 / var(--layout-width-scroll) * 100%);
  margin: calc(40 / var(--layout-width-scroll) * 100%) auto 0;
}

.l-fa__info-image {
  inline-size: calc((309 / 650) * 100%);
}

/* contact */
.l-contact {
  position: relative;
  margin-block-start: calc(52 / var(--layout-width-scroll) * 100%);
}

.l-contact__inner {
  position: relative;
}

.l-contact__bg {
  z-index: var(--default-z-index);
  position: absolute;
  inset: 0;
  margin: auto;
}

.l-contact__cloud {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-start: 0;
}

.l-contact__cloud--left {
  inset-inline-start: calc(81 / var(--layout-width-scroll) * 100%);
  inline-size: calc(79 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(70 / var(--layout-width-scroll) * 100%);
}

.l-contact__cloud--right {
  inset-inline-start: calc(615 / var(--layout-width-scroll) * 100%);
  inline-size: calc(63 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(154 / var(--layout-width-scroll) * 100%);
}

.l-contact__heading {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(413 / var(--layout-width-scroll) * 100%);
  margin-inline: auto;
  padding-block-start: calc(37 / var(--layout-width-scroll) * 100%);
}

.l-contact__image {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(737 / var(--layout-width-scroll) * 100%);
  margin-block-start: calc(27 / var(--layout-width-scroll) * 100%);
  margin-inline-start: auto;
}

/* qa */
.l-qa {
  margin-block-start: calc(102 / var(--layout-width-scroll) * 100%);
}

.l-qa__list {
  inline-size: calc(650 / var(--layout-width-scroll) * 100%);
  margin: calc(52 / var(--layout-width-scroll) * 100%) auto 0;
  border-block-end: 2px dashed var(--color-blue);
}

.l-qa__list-question {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: calc((15 / 650) * 100%) calc((8 / 650) * 100%);
  border-block-start: 2px dashed var(--color-blue);
}

.l-qa__list-question-icon {
  inline-size: calc(47px / 2);
}

.l-qa__list-question-text {
  flex: 1;
  margin-inline-start: calc((8 / 650) * 100%);
  font-weight: var(--font-semibold);
  font-size: calc(15 * var(--rem-ratio));
  line-height: var(--leading-14);
}

.l-qa__list-close {
  inline-size: calc(25px / 2);
  margin-block-start: 1%;
  margin-inline-start: calc((37 / 650) * 100%);
  rotate: 45deg;
  transition: rotate 0.3s ease;
}

.l-qa__list-item[open] .l-qa__list-close {
  rotate: 180deg;
}

.l-qa__list-answer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 calc((78 / 650) * 100%) calc((20 / 650) * 100%) calc((8 / 650) * 100%);
}

.l-qa__list-answer-icon {
  inline-size: calc(47px / 2);
}

.l-qa__list-answer-text {
  flex: 1;
  margin-inline-start: calc((8 / 645) * 100%);
  font-size: calc(13 * var(--rem-ratio));
  line-height: var(--leading-14);
}

/* footer */
.l-footer__inner {
  padding: calc(34 / var(--layout-width-scroll) * 100%) calc(50 / var(--layout-width-scroll) * 100%);
  background-color: var(--background-footer);
}

.l-footer__text {
  font-size: calc(13 * var(--rem-ratio));
  line-height: var(--leading-14);
  letter-spacing: var(--tracking-tighter);
}

.l-footer__text--small {
  font-size: calc(11 * var(--rem-ratio));
  line-height: var(--leading-normal);
}

.l-footer__text + .l-footer__text {
  margin-block-start: calc((42 / 650) * 100%);
}

.l-footer__link {
  display: inline-block;
  font-size: calc(13 * var(--rem-ratio));
  color: var(--color-blue);
  text-decoration: underline;
}

.l-footer__link--small {
  font-size: calc(11 * var(--rem-ratio));
}

.l-footer__copyright {
  padding-block: calc(20 / var(--layout-width-scroll) * 100%);
  background-color: var(--color-blue);
  font-family: var(--font-sans);
  font-size: calc(11 * var(--rem-ratio));
  color: var(--color-white);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l-wrapper {
    background-color: var(--background-pc);
  }

  .l-wrapper::before {
    content: '';
    z-index: var(--default-z-index);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100vw;
    block-size: 100vh;
    margin-block-start: calc(80 / var(--layout-width-max) * 100%);
    background: url('../images/webp/bg_pc.webp') no-repeat center / cover;
  }

  .l-header {
    z-index: var(--header-z-index);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    padding-block: calc(17 / var(--layout-width-max) * 100%) calc(33 / var(--layout-width-max) * 100%);
  }

  .l-header__logo {
    inline-size: calc(360 / var(--layout-width-max) * 100%);
    margin-inline-start: calc(35 / var(--layout-width-max) * 100%);
  }

  /* cloud */
  .l-cloud {
    z-index: var(--front-z-index);
    position: fixed;
    inset-block-start: 0;
    inline-size: calc(104 / var(--layout-width-max) * 100%);
  }

  .l-cloud--left {
    inset-inline-start: calc(58 / var(--layout-width-max) * 100%);
    margin-block-start: calc(112 / var(--layout-width-max) * 100%);
  }

  .l-cloud--center {
    inset-inline-start: calc(476 / var(--layout-width-max) * 100%);
    margin-block-start: min(calc(143 / var(--layout-width-max) * 100%), calc(154 / var(--layout-height-max) * 100vh));
  }

  .l-cloud--right {
    inset-inline-start: calc(1317 / var(--layout-width-max) * 100%);
    margin-block-start: calc(133 / var(--layout-width-max) * 100%);
  }

  /* nav */
  .l-nav {
    z-index: var(--menu-z-index);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: calc(86 / var(--layout-width-max) * 100%);
    inline-size: calc(546 / var(--layout-width-max) * 100%);
    block-size: calc(100vh + 86px);
  }

  .l-nav__inner {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    inline-size: calc((530 / 546) * 100%);
    max-block-size: 100%;
    padding-block: calc((150 / 546) * 100%);
    translate: -50% -50%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .l-nav__heading {
    inline-size: calc((530 / 546) * 100%);
    margin-inline: auto;
  }

  .l-nav__list {
    margin-block-start: calc((16 / 546) * 100%);
  }

  .l-nav__list-item {
    display: block;
  }

  .l-nav__list-item + .l-nav__list-item {
    margin-block-start: calc((47 / 546) * 100%);
  }

  .l-nav__list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc((7 / 546) * 100%);
    transition: opacity 0.3s ease;
  }

  .l-nav__list-item-text--point {
    inline-size: calc((270 / 546) * 100%);
  }

  .l-nav__list-item-text--service {
    inline-size: calc((227 / 546) * 100%);
  }

  .l-nav__list-item-text--fa {
    inline-size: calc((175 / 546) * 100%);
  }

  .l-nav__list-item-arrow {
    inline-size: calc((25 / 546) * 100%);
  }

  .l-nav__button {
    --aspect-nav: 546/107;

    position: relative;
    aspect-ratio: var(--aspect-nav);
    margin-block-start: calc((98 / 546) * 100%);
  }

  .l-nav__button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100%;
    background-color: var(--color-orange);
    border-radius: var(--rounded-100);
    border: 3px solid var(--color-orange);
    transition: background 0.3s ease;
  }

  .l-nav__button-text {
    font-weight: var(--font-bold);
    font-size: min(calc(27 / var(--layout-width-max) * 100vw), calc(27 * var(--rem-ratio)));
    color: var(--color-white);
    letter-spacing: var(--tracking-normal);
    transition: color 0.3s ease;
  }

  .l-nav__button-arrow {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: calc((45 / 540) * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: calc((15 / 540) * 100%);
    translate: 0 -50%;
  }

  .l-nav__button-arrow-svg {
    fill: var(--color-white);
    transition: fill 0.3s ease;
  }

  .l-nav__button-link-timer {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: calc((40 / 540) * 100%);
    inline-size: calc((88 / 540) * 100%);
    margin-block-start: calc((-55 / 540) * 100%);
  }

  .l-scroll-content {
    z-index: var(--scroll-z-index);
    position: relative;
    inline-size: calc(450 / var(--layout-width-max) * 100%);
    margin-inline-start: calc(720 / var(--layout-width-max) * 100%);
  }

  .l-logo {
    z-index: var(--front-z-index);
    position: relative;
    display: flex;
    align-items: center;
    inline-size: 100%;
    padding-block: 7.2%;
    background-color: var(--background-base);
  }

  .l-logo__image {
    display: block;
    inline-size: calc((181 / 450) * 100%);
  }

  .splide__list {
    gap: calc(8 / var(--layout-width-max) * 100vw);
  }

  .splide__slide {
    inline-size: calc(150 / var(--layout-width-max) * 100vw);
  }

  .splide__slide img {
    inline-size: 100%;
  }

  .l-point__list-heading-text {
    font-size: calc((32 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-nyuin__text {
    font-size: calc((36 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-service__attention {
    font-size: calc((24 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-service__list-text,
  .l-fa__theme-text,
  .l-point__attention {
    font-size: calc((30 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-fa__theme-deco-small {
    inline-size: calc((24 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-fa__theme-deco-small--left {
    margin-inline-start: calc((34 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-fa__theme-deco-big {
    inline-size: calc((48 * 0.6) / var(--layout-width-max) * 100vw);
    margin-block-start: calc((-11 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-fa__theme-deco-big--right {
    margin-inline-start: calc((9 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-fa__theme-date {
    font-size: calc((19 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-contact__button-link-text {
    font-size: calc((32 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-qa__list-question-icon,
  .l-qa__list-answer-icon {
    inline-size: calc((47 / 650) * 100%);
  }

  .l-qa__list-question-text {
    font-size: calc((30 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-qa__list-close {
    inline-size: calc((25 / 650) * 100%);
  }

  .l-qa__list-answer-text,
  .l-footer__text,
  .l-footer__link {
    font-size: calc((26 * 0.6) / var(--layout-width-max) * 100vw);
  }

  .l-footer__text--small,
  .l-footer__link--small,
  .l-footer__copyright {
    font-size: calc((22 * 0.6) / var(--layout-width-max) * 100vw);
  }
}

@media screen and (min-width: 1440px) {
  .l-wrapper::before {
    margin-block-start: 77.41px;
  }

  .l-header {
    padding-block: 15px 33px;
  }

  .l-header__logo {
    inline-size: 360px;
  }

  .l-nav__inner {
    inline-size: 546px;
  }

  .l-logo {
    display: flex;
    align-items: center;
    block-size: 77.41px;
    padding: 0;
  }

  .l-logo__image {
    inline-size: 181px;
  }
}

@media (any-hover: hover) {
  .l-nav__list-item-link:hover {
    opacity: 0.5;
  }

  .l-nav__button-link:hover {
    background-color: var(--background-base);
  }

  .l-nav__button-link:hover .l-nav__button-text {
    color: var(--color-orange);
  }

  .l-nav__button-link:hover .l-nav__button-arrow-svg {
    fill: var(--color-orange);
  }

  .l-qa__list-question:hover {
    cursor: pointer;
  }

  .l-footer__link:hover {
    text-decoration: none;
  }
}
